$primary: #5cb85c;
$gray: #818a91;
$white: white;
$gray_ddd: #ddd;
$gray_aaa: #aaa;
$gray_999: #999;
$gray_BBB: #bbb;
$black: #373a3c;
$gray_F3: #f3f3f3;
$black_alpha60: rgba(0, 0, 0, 0.6);
$black_alpha30: rgba(0, 0, 0, 0.3);
$black_alpha80: rgba(0, 0, 0, 0.8);
